#main {
  text-transform: uppercase;
  padding-top: 25vh;
}

p {
  margin-bottom: 0.5em;
}

#description{
  font-size: x-large;
}

body{
  color: white;
  background-image: url('max-mckinnon-c9OCWLka764-unsplash.jpg');
  background-size: cover;

}


/* .search {
  background-color: transparent;
  border: 2px solid #7865AE;
  color:#7865AE
} */